<div class="container">

	<div>
		<nav class="navbar">
		    <!--<div class="navbar-header">-->
				  <a class="navbar-brand" href="#">
					<img alt="Brand" src="/resources/Asset 1.PNG" style="text-align: center;width: 200px"; height="60px">
				</a>
				 <button  class="btnsharetrip pull-right" style="margin-top: 20px"; >Share Trip</button>
				<input type="image" src="/resources/profile.jpg" style="margin-top: 15px;margin-right: 10px" class="img-circular">
			<!--</div>-->
		</nav>
		 <hr style="color:#C8C7CC; margin: auto">
	</div>

	<div id ="marginonly">

		<div >
			<h2 >How are you Doing ?</h2><hr>
			<p><font class="body" >We want to hear what you love and what you think we can do better. We will respond to every piece of feedback individually if required.</font></p><br>
			<p><font class="body" >If you have a question or need help resolving an issue, email us support@packdat.com</font></p>
			
    
    		</div>
			<br>
			<hr style="width:100px;color:#ffff00;"size="30" align="left">
			<br>
		<div id = "content">

			<form>
			
			  <div class="form-group">
			    <h4 >Tell us a little more</h4>
			    <textarea autofocus="autofocus" rows="6" cols="55" id="feedback" class="body" size ="2" placeholder="Share with us your experience. What went well ? What could have gone"></textarea>
			  </div>
			  
			  <button class="btnsubmitfeedback" width="25">Submit Feedback</button>
			</form>			
		</div>
		</div>
		



</div>

<style type="text/css">
	body {
		font-family: SegoeUI-Bold, Segoe UI;
		font-weight: 700;
	}
	#closeBtn {
		margin-top: 40px;
		float: right;
	}
	#formContent{
		max-width: 40%;
		margin: 0 auto;
		text-align: left;
		text-transform: uppercase;

	}
	#marginonly{
		max-width: 40%;
		margin: 0 auto;
		text-align: left;
	}
	.navbar{
		text-align: center;
	}
	label {
		color: #95989a;
	}
	hr {
		border: solid 0.3px;
		color: #95989a;
	}
	.form-group{
		margin: 20px 0;
	}
	#showPassword{
		float: right;
		font-size:10px;
		color: #007aff;
		padding-top: 5px;
	}
	.img-circular{
		width: 40px;
		height: 40px;
		background-size: cover;
		display: block;
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		float: right;
		text-align: center;
	}
	.btnsharetrip {
		align:right;
		type : submit;
		background-color: #007AFF;
		border: none;
		border-radius: 5px;
		height: 35px;
		color:white;
		float: right;
		width: 90px;
	}
	.btnsubmitfeedback {
		width: 35%;
		type : submit;
		background-color: yellow;
		border: none;
		height: 35px;
		margin: 20px 0;
	}
	.btn-facebook{
		color:#fff;
		background-color:#3b5998;
		border-color:rgba(0,0,0,0.2)
	}
	.spacing{
		padding: 0 8px;
		font-size:18px;
	}
	.body {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300;

	}
	.navbar-header{
		margin-left:5px;
		width:100%;
	}
</style>