<div>

	<div class="col-md-5 image" >
			<img class="bg" src="/resources/maingirl.PNG"  style="position: absolute">
		      <a class="navbar-brand" href="#">
		        <img alt="Brand" src="/resources/Asset 1.PNG"  style="position: relative">
		      </a>
			<h3 class="bottomleft" style="position: relative"> Check Text</h3>
	</div>
	<div class="col-md-7">
		<div class="tab" >
			<button class="tablinks active" onclick="openCity(event,'thetrip')">THE TRIP</button>
			<button class="tablinks" onclick="openCity(event, 'invitefriends')">INVITE FRIENDS</button>
		</div>
	
		<div id="thetrip" class="tabcontent">
			<div id = "data">
				<form>
				<h1> Your Trip </h1>
				<h4> Where to? Tell us where and when you are travelling. </h4>
				<br>
					<div class="form-group flexContainer">
						<image src="/resources/compass.png" style="margin-right:5px"/>
						<input type="text disabled" class="inputField form-control" id="place"  placeholder="Anywhere">
					</div>
					<div class="form-group flexContainer">
						<image src="/resources/calendar.png" style="margin-right:5px;"/>
						<input type="text disabled" class="inputField form-control" id="date"  placeholder="Anytime">
					</div>
				  <button type="submit" class="btnCustom">Confirm</button>
				</form>			
			</div>
		</div>


		<div id="invitefriends" class="tabcontent" style="display:none" >
			<div id = "content">
				<form>
				<h1> Invite Friends </h1>
				<h4> Add your friends into this Trip and plan it together. </h4>

					<i class="fa fa-facebook"></i>
					<a class="btn btn-block btn-social btn-facebook" style="margin-top: 30px;margin-bottom: 50px;">
						Send to facebook Messenger
					</a>

				  <div class="form-group flexContainer">
					  <image src="/resources/attachment.png" style="margin-right:5px;"></image>
					<input type="text disabled" class="inputField form-control" id="Link"  placeholder="www.packdat.com/linktomytrip">
					<span id="copylink">copy link</span>
				  </div>
				  <div class="form-group flexContainer">
					  <image src="/resources/envelope.png" style="margin-right:5px;"></image>
					<input type="email" class="inputField form-control" id="friend_email"  placeholder="Your friends' email address">
					<span id="showPassword">send invite</span>
				  </div>
				  <button type="submit" class="btnCustom">Create My Trip</button>
				</form>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	body,html {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 700;
		height: 100%;
		margin: 0;
	}
	/* Style the tab */
	div.tab {
		overflow: hidden;
		background-color: #fff;
	}
	/* Style the buttons inside the tab */
	div.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		font-size: 17px;
	}

	/* Change background color of buttons on hover */
	div.tab button:hover {
		background-color: #ddd;
	}

	/* Create an active/current tablink class */
	div.tab button.active {
		border-bottom: 2px solid #007AFF;
		color:#007AFF;
	}
	/* Style the tab content */
	.tabcontent {
		-webkit-animation: fadeEffect 1s;
		animation: fadeEffect 1s;
		text-align:center;
		margin-top:5%;

	}
	/* Fade in tabs */
	@-webkit-keyframes fadeEffect {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	@keyframes fadeEffect {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	.bg {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	}

	#formContent{
		align:"center";
	}
	.inCenter{
		text-align: center;
		color: #95989a;
	}
	label {
		color: #95989a;
	}
	hr {
		border: solid 0.3px;
		color: #95989a;
	}
	.form-control {
		border: none;
		border-bottom: .5px solid #000000;
		border-radius: 0px;
		box-shadow: none;
	}
	.form-group{
		margin: 30px 0;
	}
	#showPassword{
		float: right;
		font-size:12px;
		color: #007aff;
		padding-top: 5px;
	}
	.btnCustom {
		width: 100%;
		background-color: yellow;
		border: none;
		height: 35px;
		margin: 20px 0;
	}
	.btn-facebook{
		color:#fff;
		background-color:#0084FF;
		border-color:rgba(0,0,0,0.2)
	}
	.spacing{
		padding: 0 8px;
		font-size:18px;
	}
	.flexContainer {
		display: flex;
	}

	.inputField {
		flex: 1;
	}
	hr {
		border: solid 0.3px;
		color: #95989a;
	}
	form
	{
		display: inline-block;
		text-align: center;
	}
	#inner {
		display: table;
		margin: 0 auto;
	}
	.bottomleft {
		position: absolute;
		bottom: 8px;
		left: 16px;
		font-size: 18px;
	}

</style>

<script type="text/javascript">
		function openCity(evt, cityName) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}
</script>
